.full-width-card {
            width: calc(100vw - 4rem); /* Sottrae il margine a destra e sinistra */
            margin-left: calc(50% - 50vw + 2rem); /* Centra la card con margini */
        }

        .card-header {
            background: #8d9898;
        }

.error {
    outline: 2px solid red;
}