@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css") layer(bootstrap);

* {
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    font-size: 1em;
}

a {
    text-decoration: none;
}

h1 {
    text-align: center;
}

h4 {
    margin:5%;
}

body {
    background-color: #86a3a3;
}

.background-image {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('https://c7.alamy.com/compit/ekywb4/sfondo-di-matematica-ekywb4.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    opacity: 0.2;
    z-index: -1;
}

.container-md {
    background-color: rgba(255, 255, 255, 0.700);
    padding: 10px;
    border-radius: 10px;
}

.bottom-footer {
    grid-area: footer;
    padding: 5vh;
    background-color:#00B4DB;
    width: 100%;
    display: flex;
    flex-flow:column;
    justify-content: space-evenly;
    align-content: center;
    align-items: center;
    flex-wrap:wrap;
}

.sidenav {
     position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 10vh;
    background: linear-gradient(to bottom, #0083B0, #00B4DB);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    transition: width 0.5s, height 0.5s, opacity 0.2s;
    gap: 1vh;
    padding-left: 22px;
}

    .sidenav a {
        align-items: center;
        background-image: radial-gradient(100% 100% at 100% 0, #5adaff 0, #5468ff 100%);
        border-radius: 6px;
        box-shadow: rgba(45, 35, 66, .4) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset;
        color: #fff;
        display: inline-flex;
        height: 70%;
        width:200px;
        justify-content: center;
        overflow: hidden;
        padding-left: 16px;
        padding-right: 16px;
        text-align: center;
        transition: box-shadow .15s,transform .15s, opacity 0.2s;
        font-size: 90%;
        word-wrap: break-word;
        border-bottom-right-radius:10px;
        border-bottom-left-radius: 10px;
        
    }

    .sidenav a:focus {
        box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
    }

    .sidenav a:hover {
        box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
        transform: translateY(-2px);
    }

    .sidenav a:active {
        box-shadow: #3c4fe0 0 3px 7px inset;
        transform: translateY(2px);
    }

    .sidenav .goldNavButton {
        background-image: radial-gradient(ellipse farthest-corner at right bottom, #FEDB37 0%, #FDB931 8%, #9f7928 30%, #8A6E2F 40%, transparent 80%), radial-gradient(ellipse farthest-corner at left top, #FFFFFF 0%, #FFFFAC 8%, #D1B464 25%, #5d4a1f 62.5%, #5d4a1f 100%);
        background-size: 150%;
        animation: MoveBackgroundPosition 2s ease-in-out infinite;
        margin-right: 5%;
    }
    .sidenav .goldNavButton:focus {
        box-shadow: rgba(45, 35, 66, .3) 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, rgba(45, 35, 66, .3) 0 -3px 0 inset;
    }

    .sidenav .goldNavButton:hover {
        box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, rgba(45, 35, 66, .3) 0 -3px 0 inset;
    }

    .sidenav .goldNavButton:active {
        box-shadow: rgba(45, 35, 66, .3) 0 3px 7px inset;
    }

@keyframes MoveBackgroundPosition {
    0% {
        background-position: 0% 0%
    }

    50% {
        background-position: 50% 50%
    }

    100% {
        background-position: 0% 0%
    }
}

.logo-img {
    transition: opacity 0.2s;
    max-height: 90%;
    max-width: auto;
    clip-path: circle(100% at center);
}

.menuButton {
    position: fixed;
    color: gray;
    grid-area: menu-button;
    text-decoration: none;
    background: #00B4DB;
    background: linear-gradient(to left, #0083B0, #00B4DB);
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 10px;
    text-align: center;
    border: 0;
    z-index:1;
}

    .menuButton:hover {
        color: #3c4fe0;
        transform:scale(110%, 110%);
    }


.content-body {
    grid-area: content-body;
    display: flex;
    flex-direction: column;
    margin: 10px;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding-top:5%;
}

.homepage-img {
    max-height: auto;
    width: 50%;
}

.arrow {
    border: inset grey;
    border-width: 0 5px 5px 0;
    display: block;
    padding: 10px;
}

.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}