.titles {
    color: #fff; /* Colore del testo per visibilità */
    padding: 20px;
    text-align: center;
    font-family: Arial, sans-serif;
}
h1 {
    text-align: center;
}

.question {
    margin-bottom: 20px;
}


button:hover {
    background-color: #0056b3;
}

#result {
    margin-top: 20px;
    font-size: 1.2em;
    text-align: center;
}

