.titles {
    color: #fff; /* Colore del testo per visibilità */
    padding: 20px;
    text-align: center;
    font-family: Arial, sans-serif;
}
h1 {
    text-align: center;
}

.question {
    margin-bottom: 20px;
}


button:hover {
    background-color: #0056b3;
}

#result {
    margin-top: 20px;
    font-size: 1.2em;
    text-align: center;
}

.bottom-footer {
    grid-area: footer;
    padding: 5vh;
    background-color: rgba(0,122,57,1);
    width: 100%;
    display: flex;
    flex-flow:column;
    justify-content: space-evenly;
    align-content: center;
    align-items: center;
    flex-wrap:wrap;
}

